@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* default font */
  --default-font: 16px;

  /* Primary */
  --light-red-t: hsla(0, 100%, 67%, 4.5%);
  --orangey-yellow-t: hsla(39, 100%, 56%, 4.5%);
  --grean-teal-t: hsla(166, 100%, 37%, 4.5%);
  --cobalt-blue-t: hsla(234, 85%, 45%, 4.5%);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --grean-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --slate-blue: hsl(252, 100%, 67%); /*background*/
  --royal-blue: hsl(241, 81%, 54%); /*background*/
  --violet-blue: hsla(256, 72%, 46%, 1); /*circle*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*circle*/

  /* Neutrals */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --grey-blue: hsl(224, 30%, 27%);
}

/* Typography */

.hanken-grotesk-500 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hanken-grotesk-700 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hanken-grotesk-800 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: var(--default-font);
}
.results {
  height: 45vh;
  background: linear-gradient(var(--slate-blue), var(--royal-blue));
  border-radius: 0 0 20px 20px;
}
strong {
  font-weight: 800;
  color: var(--grey-blue);
}
h1 {
  font-size: var(--default-font);
  margin: 0;
}
h1,
p {
  color: var(--light-lavender);
}
.result-text {
  font-size: calc(25px / 18px * 1rem);
}
.result-title,
.summary-heading {
  font-size: calc(20px / 18px * 1rem);
}
.result-number {
  font-size: calc(55px / 18px * 1rem);
}
.result-number,
.result-text {
  color: var(--white);
}
p,
.summary-stats {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.summary-stats {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.summary-heading,
.pill {
  width: 80%;
}
.pill {
  height: 45px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reaction {
  background-color: var(--light-red-t);
}
.reaction .label {
  display: inline-flex;
  align-items: center;
  color: var(--light-red);
  border-radius: 10px;
}
.reaction .label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  padding-right: 10px;
  background-image: url("../assets/images/icon-reaction.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.memory {
  background-color: var(--orangey-yellow-t);
}
.memory .label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--orangey-yellow);
  border-radius: 10px;
}
.memory .label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  background-image: url("../assets/images/icon-memory.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.verbal {
  background-color: var(--grean-teal-t);
}
.verbal .label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--grean-teal);
  border-radius: 10px;
}
.verbal .label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  background-image: url("../assets/images/icon-verbal.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.visual {
  background-color: var(--cobalt-blue-t);
}
.visual .label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--cobalt-blue);

  border-radius: 10px;
}
.visual .label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  background-image: url("../assets/images/icon-visual.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pill-of {
  color: var(--grey-blue);
  font-weight: 300;
}
.continue-button {
  display: block;
  background-color: var(--grey-blue);
  width: 80%;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 35px;
  border-radius: 20px;
}
.continue-button p {
  color: var(--white);
}
