@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* default font */
  --default-font: 14px;

  /* Primary */
  --light-red-t: hsla(0, 100%, 67%, 4.5%);
  --orangey-yellow-t: hsla(39, 100%, 56%, 4.5%);
  --grean-teal-t: hsla(166, 100%, 37%, 4.5%);
  --cobalt-blue-t: hsla(234, 85%, 45%, 4.5%);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --grean-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --slate-blue: hsl(252, 100%, 67%); /*background*/
  --royal-blue: hsl(241, 81%, 54%); /*background*/
  --violet-blue: hsla(256, 72%, 46%, 1); /*circle*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*circle*/

  /* Neutrals */
  --white: hsl(0, 0%, 100%);
  --white-t: hsla(0, 0%, 100%, 40%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --grey-blue: hsl(224, 30%, 27%);
}

/* Typography */

.hanken-grotesk-500 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hanken-grotesk-700 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hanken-grotesk-800 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: var(--default-font);
}
.results {
  height: 50vh;
  background: linear-gradient(var(--slate-blue), var(--royal-blue));
  border-radius: 0 0 calc(20px / var(--default-font) * 1rem)
    calc(20px / var(--default-font) * 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.result-title {
  padding-top: calc(20px / var(--default-font) * 1rem);
}
strong {
  font-weight: 800;
  color: var(--grey-blue);
}
h1 {
  font-size: var(--default-font);
  margin: 0;
}
h1,
p,
.result-number-of {
  color: var(--light-lavender);
}
.result-text-title {
  font-size: calc(25px / var(--default-font) * 1rem);
}
.result-title,
.summary-heading {
  font-size: calc(20px / var(--default-font) * 1rem);
}
.result-number {
  font-size: calc(55px / var(--default-font) * 1rem);
}
.result-number,
.result-text {
  color: var(--white);
}
.result-number-of {
  color: var(--white-t);
}
.result-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.result-text p {
  width: 70%;
  margin: 0;
  padding-top: calc(10px / var(--default-font) * 1rem);
  padding-bottom: calc(20px / var(--default-font) * 1rem);
}
.result-text-title {
  margin: 0;
}
.circle-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  height: calc(150px / var(--default-font) * 1rem);
  width: calc(150px / var(--default-font) * 1rem);
}
.summary-stats {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 50vh;
  margin-top: 12px;
}
.summary-heading,
.pill {
  width: 80%;
}
.pill {
  height: calc(45px / var(--default-font) * 1rem);
  margin-top: calc(10px / var(--default-font) * 1rem);
  border-radius: calc(10px / var(--default-font) * 1rem);
  padding: 0 calc(15px / var(--default-font) * 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(15px / var(--default-font) * 1rem);
}
.reaction {
  background-color: var(--light-red-t);
}
.reaction .label {
  display: inline-flex;
  align-items: center;
  color: var(--light-red);
  border-radius: calc(10px / var(--default-font) * 1rem);
}
.reaction .label::before {
  content: "";
  display: inline-block;
  height: calc(23px / var(--default-font) * 1rem);
  width: calc(23px / var(--default-font) * 1rem);
  padding-right: 10px;
  background-image: url("../assets/images/icon-reaction.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.memory {
  background-color: var(--orangey-yellow-t);
}
.memory .label {
  display: inline-flex;
  align-items: center;
  gap: calc(10px / var(--default-font) * 1rem);
  color: var(--orangey-yellow);
  border-radius: calc(10px / var(--default-font) * 1rem);
}
.memory .label::before {
  content: "";
  display: inline-block;
  height: calc(23px / var(--default-font) * 1rem);
  width: calc(23px / var(--default-font) * 1rem);
  background-image: url("../assets/images/icon-memory.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.verbal {
  background-color: var(--grean-teal-t);
}
.verbal .label {
  display: inline-flex;
  align-items: center;
  gap: calc(10px / var(--default-font) * 1rem);
  color: var(--grean-teal);
  border-radius: calc(10px / var(--default-font) * 1rem);
}
.verbal .label::before {
  content: "";
  display: inline-block;
  height: calc(23px / var(--default-font) * 1rem);
  width: calc(23px / var(--default-font) * 1rem);
  background-image: url("../assets/images/icon-verbal.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.visual {
  background-color: var(--cobalt-blue-t);
}
.visual .label {
  display: inline-flex;
  align-items: center;
  gap: calc(10px / var(--default-font) * 1rem);
  color: var(--cobalt-blue);

  border-radius: 10px;
}
.visual .label::before {
  content: "";
  display: inline-block;
  height: calc(20px / var(--default-font) * 1rem);
  width: calc(20px / var(--default-font) * 1rem);
  background-image: url("../assets/images/icon-visual.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pill-of {
  color: var(--grey-blue);
  font-weight: 300;
}
.continue-button {
  display: block;
  background-color: var(--grey-blue);
  width: 80%;
  height: calc(50px / var(--default-font) * 1rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(25px / var(--default-font) * 1rem);
  margin-bottom: calc(35px / var(--default-font) * 1rem);
  border-radius: calc(30px / var(--default-font) * 1rem);
}
.continue-button p {
  color: var(--white);
}
.continue-button:hover {
  background-color: var(--royal-blue);
}
main {
  display: flex;
  justify-content: center;
  width: 100vw;
}
@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--pale-blue);
  }
  .underbritches {
    display: flex;
    width: calc(500px / var(--default-font) * 1rem);
    background-color: var(--white);
    border-radius: 25px;
  }
  .summary-stats {
    margin: 0;
    padding-top: calc(22px / var(--default-font) * 1rem);
    /* width: 390px; */
    background-color: var(--white);
  }
  .summary-stats,
  .results {
    height: calc(380px / var(--default-font) * 1rem);
    width: calc(250px / var(--default-font) * 1rem);
    border-radius: 25px;
  }
  .result-title,
  .summary-heading {
    font-size: calc(14px / var(--default-font) * 1rem);
  }
}
